
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 0 20px;
}

nav .left img{
  width: 130px;
}

nav .center{
display: flex;
justify-content: center;
align-items: center;
gap: 35px;
font-size: 24px;
font-weight: 600;
}

nav .right{
  margin-right: 100px;
  width: 60px;
  height: 30px;
}

.social-icons{
  position: fixed;
  top: 230px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.social-icons i{ 
color: #ffffff;
width: 40px;
height: 40px;
border: 1px solid #ffffff;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
font-size: 24px;
}

.social-icons i:hover{
  color: #1DBEC8;
  border-color: #1DBEC8;
}

/* Humburger-menu */

.menu-button-container {
  display: none;
  height: 60px;
  width: 60px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 3px;
  width: 35px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button-container:hover .menu-button::before{
  background-color: #1DBEC8;
}
.menu-button-container:hover .menu-button::after{
  background-color: #1DBEC8;
}
.menu-button-container:hover .menu-button{
  background-color: #1DBEC8;
}
.menu-button::before {
  content: '';
  margin-top: -10px;
}

.menu-button::after {
  content: '';
  margin-top: 10px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1080px) {
  .menu-button-container {
    display: flex;
    position: fixed;
    top: 10px;
    right: 7px;
    z-index: 1000;
  }
  .menu-button-container:hover{
    color: #1DBEC8;
  }
  nav .center.menu{
    position: fixed;
    width: 200px;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: start;
    background-color:#272730;
    padding: 20px 10px 10px;
    height: 40vh;
    border-radius: 12px;
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transform: translateX(300px);
  }
  /* input[type="checkbox"]:checked ~ .center.menu{
    transform: translateX(-300px);
  }

  input[type="checkbox"]:checked ~ .center.menu a li{
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  } */
}

@media (max-width: 700px) {
nav{
  justify-content: start;
  padding: 0;
}
nav .left img{
  width: 100px;
}
}